<h2 class ="top-title">ようこそBookersへ！</h2>
<div class="top-main">
    
    <p><span class="bold">Bookers</span>では、さまざまな書籍に関するあなたの意見や</p>
    <p>印象を共有し交換することができます</p>
    
    <span><%= link_to "start", "/books" %></span>
</div>
